{% extends "base.html" %}

{% block content %}


<div class="container-fluid">
	<div class="row cart-body mt-md-4">
	<span class="col-sm"></span>
	{% if not cartRecipes	%}
	<h3>No Cart Recipes!</h3>
	{% else %}
	<ul class="list-group list-group-flush col-sm">
		<h3>Cart Recipes</h3>
		{% for recipe in cartRecipes %}
			{% if recipe.isWebsite == True  %}
				<a href = "{{ recipe.linkFull }}">
					<img src="{{ recipe.image_url }}" class="card-img-bottom" alt="...">
					<li class="list-group-item">{{ recipe.title }}</li>
				</a>

			{% else %}
				<img src="{{ recipe.image_url }}" class="card-img-bottom" alt="...">
				<li class="list-group-item">{{ recipe.title }}</li>
			{% endif %}
		{%endfor %}
	</ul>


	{% endif %}
	<div class="col-2"></div>
	<br>

	{% if neededIngredients |length == 0 %}
	<h3>No needed Ingredients</h3>
	{% else %}
	<ul class="list-group list-group-flush col-sm">
		<h3>Needed Ingredients</h3>
		{% for ni in neededIngredients %}
		<li class="list-group-item">{{ ni.name }} x {{ni.occurrences}}</li>
		{%endfor %}
	</ul>

	{% endif %}
	<div class="col-1"></div>

	{% if not usedIngredients %}
	<h3>No used Ingredients</h3>
	{% else %}
	<ul class="list-group list-group-flush col-sm">
			<h3>Used Ingredients</h3>
			{% for ui in usedIngredients %}
				<li class="list-group-item">{{ ui.name }}<span class="font-weight-lighter"> x {{ ui.occurrences}}</span></li>
			{%endfor %}
	</ul>

	{% endif %}
	<span class="col-sm"></span>
	</div>
</div>
{% endblock %}